
@{
    ViewBag.Title = "Index";
}

<h1 class="text-center">PELICULAS CLASICAS</h1>
<div class="container">
    <div class="row">
        <div class="col-md-3 mt-5">
            <div class="card img-thumbnail" style="width: 16rem;">
                <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/855/public/media/image/2016/10/aladdin.jpg?itok=OvE-aHJm" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-center">Aladino</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-5">
            <div class="card img-thumbnail" style="width: 16rem;">
                <img src="https://media.timeout.com/images/105638035/380/285/image.jpg" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-center">La bella y la bestia(1991)</h5>

                </div>
            </div>
        </div>
        <div class="col-md-3 mt-5">
            <div class="card img-thumbnail" style="width: 16rem;">
                <img src="https://media.timeout.com/images/105638045/380/285/image.jpg" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-center"> 101 Dalmatas (1961)</h5>

                </div>
            </div>
        </div>
        <div class="col-md-3 mt-5">
            <div class="card img-thumbnail" style="width: 16rem;">
                <img src="https://media.timeout.com/images/105628968/380/285/image.jpg" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-center">El Rey Leon (1994)</h5>

                </div>
            </div>
        </div><div class="col-md-3 mt-5">
            <div class="card img-thumbnail" style="width: 16rem;">
                <img src="https://media.timeout.com/images/101672243/380/285/image.jpg" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-center">El jorobado de Norte Dame (1996)</h5>

                </div>
            </div>
        </div><div class="col-md-3 mt-5">
            <div class="card img-thumbnail" style="width: 16rem;">
                <img src="https://media.timeout.com/images/102186199/380/285/image.jpg" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-center">Mulan (1998)</h5>

                </div>
            </div>
        </div><div class="col-md-3 mt-5">
            <div class="card img-thumbnail" style="width: 16rem;">
                <img src="https://media.timeout.com/images/101527265/380/285/image.jpg" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-center">Frozen Una Aventura Congelada</h5>

                </div>
            </div>
        </div><div class="col-md-3 mt-5">
            <div class="card img-thumbnail" style="width: 16rem;">
                <img src="https://media.timeout.com/images/105550268/380/285/image.jpg" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-center">Frozen II</h5>

                </div>
            </div>
        </div><div class="col-md-3 mt-5">
            <div class="card img-thumbnail" style="width: 16rem;">
                <img src="https://media.timeout.com/images/103463304/380/285/image.jpg" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-center">Moana (2016)</h5>

                </div>
            </div>
        </div><div class="col-md-3 mt-5">
            <div class="card img-thumbnail" style="width: 16rem;">
                <img src="https://media.timeout.com/images/105274406/380/285/image.jpg" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-center">Christopher Robin, un reencuentro inolvidable (2018)</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-5">
            <div class="card img-thumbnail" style="width: 16rem;">
                <img src="https://media.timeout.com/images/102174241/380/285/image.jpg" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-center">Intensa-mente (2015)</h5>
                </div>
            </div>
        </div>
        
        <div class="col-md-3 mt-5">
            <div class="card img-thumbnail" style="width: 16rem;">
                <img src="https://media.timeout.com/images/101596471/380/285/image.jpg" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-center">Pocahontas (1995)</h5>

                </div>
            </div>
        </div>
        <div class="col-md-3 mt-5">
            <div class="card img-thumbnail" style="width: 16rem;">
                <img src="https://media.timeout.com/images/105638044/380/285/image.jpg" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-center">Up, una aventura de altura (2009)</h5>

                </div>
            </div>
        </div>
        <div class="col-md-3 mt-5">
            <div class="card img-thumbnail" style="width: 16rem;">
                <img src="https://media.timeout.com/images/105638038/380/285/image.jpg" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-center">Los aristogatos (1970)</h5>

                </div>
            </div>
        </div>
        <div class="col-md-3 mt-5">
            <div class="card img-thumbnail" style="width: 16rem;">
                <img src="https://media.timeout.com/images/103959277/380/285/image.jpg" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-center">La Sirenita (1989)</h5>

                </div>
            </div>
        </div><div class="col-md-3 mt-5">
            <div class="card img-thumbnail" style="width: 16rem;">
                <img src="https://media.timeout.com/images/105574032/380/285/image.jpg" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-center">Peter Pan (1953)</h5>
                </div>
            </div>
        </div>
    </div>
</div>

