@{
    ViewBag.Title = "Home Page";
}
<h1 class="text-center">BIENVENIDO A CINEMAN</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 mt-5">
                <div class="card img-thumbnail" style="width: 18rem;">
                    <img src="https://www.laizquierdadiario.cl/IMG/arton28924.png" class="card-img-top img-thumbnail" alt="...">
                    <div class="card-body bg-dark">
                        <h5 class="card-title text-light bg-dark text-center">Estrenos actuales</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                        <a href="https://localhost:44378/EstrenosActuales" class="btn btn-warning btn-block text-center">Ver estrenos</a>                  
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="card img-thumbnail" style="width: 18rem;">
                    <img src="https://image.winudf.com/v2/image1/Y29tLm1vdmllY29taW5nc29vbi5uZXdtb3ZpZXNfaWNvbl8xNTQ3MjU2MDYxXzA3MA/icon.png?w=170&fakeurl=1" class="card-img-top img-thumbnail" alt="...">
                    <div class="card-body bg-dark">
                        <h5 class="card-title text-light bg-dark text-center">Estrenos Proximos</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                        <a href="https://localhost:44378/EstrenosProximos" class="btn btn-warning text-center btn-block">Nuevos estrenos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4 mt-5">
                <div class="card img-thumbnail" style="width: 18rem;">
                    <img src="https://mx.web.img2.acsta.net/newsv7/20/05/15/16/22/5301538.jpg" class="card-img-top img-thumbnail" alt="...">
                    <div class="card-body bg-dark">
                        <h5 class="card-title text-light bg-dark text-center">Combos de palomitas</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                        <a href="https://localhost:44378/Combos" class="btn btn-warning btn-block">Ver informacion</a>
                      
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="card img-thumbnail" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSppEIarqkAqyaev3LnbwGU1UwaCdDkWXCKrA&usqp=CAU" class="card-img-top img-thumbnail" alt="...">
                    <div class="card-body bg-dark">
                        <h5 class="card-title text-light bg-dark text-center">Promociones</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                        <a href="https://localhost:44378/Promociones" class="btn btn-warning btn-block">Mas informacion aqui..</a>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="card img-thumbnail" style="width: 18rem;">
                    <img src="https://i.ytimg.com/vi/25j5XR1lSAQ/maxresdefault.jpg" class="card-img-top img-thumbnail" alt="...">
                    <div class="card-body bg-dark">
                        <h5 class="card-title text-light bg-dark text-center">Reproduccion de peliculas clasicas</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                        <a href="https://localhost:44378/Clasicas" class="btn btn-warning btn-block">Ver extrenos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
