
@{
    ViewBag.Title = "Index";
}

<h1 class="text-center">ESTRENOS PROXIMAMENTE</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-2">
            <div class="card img-thumbnail" style="width: 10rem;">
                <img src="https://es.web.img3.acsta.net/pictures/20/03/24/14/59/1973735.jpg" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-center">Soul</h5>
                    <a href="https://disney.es/peliculas/soul"><button type="button" class="btn btn-warning btn-block">VerMas</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card img-thumbnail" style="width: 10rem;">
                <img src="https://www.ecartelera.com/carteles/13600/13686/002_p.jpg" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-center">Los Croods</h5>
                    <ul class="list-group list-group-flush">
                    </ul>
                    <a href="https://www.sensacine.com.mx/noticias/noticia-18566384/"><button type="button" class="btn btn-warning btn-block">VerMas</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card img-thumbnail" style="width: 10rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwyi_wxLes88M-zrLLJxbeP7yvaSpkoR1M_8KFjO_b9emACm3I" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-center">Un lugar en silecio II</h5>
                    <ul class="list-group list-group-flush">
                    </ul>
                    <a href="https://www.sensacine.com.mx/peliculas/pelicula-264385/"><button type="button" class="btn btn-warning btn-block">VerMas</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card img-thumbnail" style="width: 10rem;">
                <img src="https://es.web.img3.acsta.net/pictures/19/12/10/15/04/3826254.jpg" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-center">Free Guy</h5>
                    <ul class="list-group list-group-flush">
                    </ul>
                    <a href="https://www.sensacine.com.mx/busqueda/?q=Free+guy"> <button type="button" class="btn btn-warning btn-block">VerMas</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card img-thumbnail" style="width: 10rem;">
                <img src="https://es.web.img2.acsta.net/pictures/20/08/19/16/27/0129475.jpg" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-center">Muerte en el Nilo</h5>
                    <ul class="list-group list-group-flush">
                    </ul>
                    <a href="https://www.sensacine.com.mx/busqueda/?q=Muerte+en+el+Nilo"><button type="button" class="btn btn-warning btn-block">VerMas</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card img-thumbnail" style="width: 10rem;">
                <img src="http://es.web.img3.acsta.net/c_215_290/pictures/20/10/06/10/28/3085901.jpg" class="card-img-top" alt="...">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-center">El verano que vivimos</h5>
                    <ul class="list-group list-group-flush">
                    </ul>
                    <a href="http://www.sensacine.com/peliculas/pelicula-272870/"><button type="button" class="btn btn-warning btn-block">VerMas</button></a>
                </div>
            </div>
        </div>
    </div>
</div>