
@{
    ViewBag.Title = "Index";
}

<h1 class="text-center text-light">PROMOCIONES EN CINEMAN</h1>
<div class="row">
    <div class="col-sm-6">
        <img src="https://s3.amazonaws.com/statics3.cinemex.com/uploads/cms/promos/226-promo-image-web-670x320.jpg" class="img-thumbnail" />
        <div class="card-text">
            <div class="card-title text-center"><h4 class="text-danger mt-3">¡Buen Fin!</h4></div>
            <div class="card-text text-center">
                <h5>
                    Adquiere en taquilla tus boletos y úsalos cuando quieras
                    10 boletos tradicionales, 7 premium y 4 platino.
                </h5>
                <a href="https://cinemex.com/landing/terminos-y-condiciones-buen-fin-2020/"><button type="button" class="btn btn-warning btn-block img-thumbnail">Haz click para terminos y condiciones</button></a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <img src="https://s3.amazonaws.com/statics3.cinemex.com/uploads/cms/promos/227-promo-image-web-670x320.jpg" class="img-thumbnail" />
        <div class="card-text">
            <div class="card-title text-center"><h4 class="text-danger mt-3">¡Disfruta los Combo-letos del Buen Fin!</h4></div>
            <div class="card-text text-center">
                <h5>
                    Tradicional, Premium y Tradicional
                </h5>
                <a href="https://cinemex.com/landing/terminos-y-condiciones-buen-fin-2020/combo-letos"><button type="button" class="btn btn-warning btn-block">Enterate de los combos</button></a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mt-4 ">
        <img src="https://s3.amazonaws.com/statics3.cinemex.com/uploads/cms/promos/37-promo-image-web-670x320.jpg" class="img-thumbnail" />
        <div class="card-text">
            <div class="card-title text-center mt-3"><h4 class="text-danger">Cinefan</h4></div>
            <div class="card-text">
                <h5 class="text-center">
                    La tarjeta para fanáticos del cine
                </h5>
                <a href="https://cinemex.com/landing/privacidad-cinefan/"><button type="button" class="btn btn-warning btn-block">Como adquirir la Tarjeta Cinefan</button></a>

            </div>
        </div>
    </div>
    
    <div class="col-sm-6 mt-4">
        <img src="https://s3.amazonaws.com/statics3.cinemex.com/uploads/cms/promos/204-promo-image-web-670x320.jpg" class="img-thumbnail" />
        <div class="card-text">
            <div class="card-title text-center mt-3"><h4 class="text-danger">El tiempo no pasó en tu Calendario Cinemex</h4></div>
            <div class="card-text">
                <h5 class="text-center">
                    ¡Aceptamos tus cupones del calendario hasta el 15 de Diciembre!
                </h5>
                <a href="https://cinemex.com/landing/bases-y-mecanicas-de-la-promocion-golden-ticket-cinemex-calendario-2020/bases-y-mecanicas-de-la-promocion-golden-ticket-cinemex-calendario-2020"><button type="button" class="btn btn-warning btn-block ">Calendario de promociones</button></a>
            </div>
        </div>
    </div>
</div>
