
@{
    ViewBag.Title = "Index";
}
<h1 class="text-center"> ADQUIERE TU COMBO CON DESCUENTO</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5">
                <img src="https://pbs.twimg.com/media/DltaOtFX4AI-X2w.jpg:large" class="img-thumbnail" />
        </div>
        <div class="col-sm-5 mt-3">
                <img src="https://i1.wp.com/liquidazona.com/wp-content/uploads/2020/03/2-2.jpg?resize=630%2C380&ssl=1" class="img-thumbnail" />
        </div>
        <div class="col-sm-5 mt-3">
                <img src="https://liquidazona.com/wp-content/uploads/2018/05/1498.jpg" class="img-thumbnail" />
        </div>
        <div class="col-sm-5 mt-3">
                <img src="https://mk0cazaofertassmxlbf.kinstacdn.com/wp-content/uploads/2020/07/Cinemex-combo-170720-00.jpg" class="img-thumbnail" />
        </div>
        <div class="col-sm-5 mt-3">
                <img src="https://pbs.twimg.com/media/BdeqRHyCMAACmDl.jpg" class="img-thumbnail" />
        </div>
        <div class="col-sm-5 mt-3">
                <img src="https://pbs.twimg.com/media/CHfKTxpWUAEZQD7.jpg" class="img-thumbnail" />
        </div>
    </div>
</div>




