
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">ESTRENOS ACTUALES</h2>
<div class="container">
    <div class="row">
        <div class="col-md-3 mr-5 mt-4">
            <div class="card img-thumbnail" style="width: 18rem;">
                <img src="https://s3.amazonaws.com/statics3.cinemex.com/movie_posters/anNOoDaG4UenYjf-182x272.jpg" class="card-img-top" alt="...">
                <div class="card-body  bg-dark">
                    <h3 class="card-title text-center text-warning">Nuevo Orden</h3>

                </div>
            </div>
        </div>
        <div class="col-md-3 mr-5 mt-4">
            <div class="card img-thumbnail" style="width: 18rem;">
                <img src="https://s3.amazonaws.com/statics3.cinemex.com/movie_posters/78uIBprqtsaoLTt-182x272.jpg" class="card-img-top" alt="...">
                <div class="card-body  bg-dark">
                    <h3 class="card-title text-center text-warning">Estacion Zombie 2</h3>

                </div>
            </div>
        </div>
        <div class="col-md-3 mr-5 mt-4">
            <div class="card img-thumbnail" style="width: 18rem;">
                <img src="https://s3.amazonaws.com/statics3.cinemex.com/movie_posters/Hq3BDRtd9YoKzaZ-182x272.jpg" class="card-img-top" alt="...">
                <div class="card-body  bg-dark">
                    <h3 class="card-title text-center text-warning">Freaky: Este Cuerpo Está para Matar</h3>

                </div>
            </div>
        </div>
        <div class="col-md-3 mr-5 mt-4">
            <div class="card img-thumbnail" style="width: 18rem;">
                <img src="https://s3.amazonaws.com/statics3.cinemex.com/movie_posters/dNbqUENEbaAhJLx-182x272.jpg" class="card-img-top" alt="...">
                <div class="card-body  bg-dark">
                    <h3 class="card-title text-center text-warning">Venganza Implacable</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3 mr-5 mt-4">
            <div class="card img-thumbnail" style="width: 18rem;">
                <img src="https://s3.amazonaws.com/statics3.cinemex.com/movie_posters/RyOJpEGXdj2sssB-182x272.jpg" class="card-img-top" alt="...">
                <div class="card-body  bg-dark">
                    <h3 class="card-title text-center text-warning">Las Brujas</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3 mr-5 mt-4">
            <div class="card img-thumbnail" style="width: 18rem;">
                <img src="https://s3.amazonaws.com/statics3.cinemex.com/movie_posters/gP7SssIykAx7amM-182x272.jpg" class="card-img-top" alt="...">
                <div class="card-body  bg-dark">
                    <h3 class="card-title text-center text-warning">El Camino de Xico</h3>

                </div>
            </div>
        </div>
    </div>
</div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 mr-5 mt-4">
                    <div class="card img-thumbnail" style="width: 18rem;">
                        <img src="https://s3.amazonaws.com/statics3.cinemex.com/movie_posters/gP7SssIykAx7amM-182x272.jpg" class="card-img-top" alt="...">
                        <div class="card-body  bg-dark">
                            <h3 class="card-title text-center text-warning">El camino de </h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mr-5 mt-4">
                    <div class="card img-thumbnail" style="width: 18rem;">
                        <img src="https://s3.amazonaws.com/statics3.cinemex.com/movie_posters/wqbIX3YPNfI3UnA-182x272.jpg" class="card-img-top" alt="...">
                        <div class="card-body  bg-dark">
                            <h3 class="card-title text-center text-warning">Trolls:2 World Tour</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mr-5 mt-4">
                    <div class="card img-thumbnail" style="width: 18rem;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmZRkDVSxfhilfOlysNJRg12U8vSWSrPXxFbaF7OW-jDclbUZN" class="card-img-top" alt="...">
                        <div class="card-body  bg-dark">
                            <h3 class="card-title text-center text-warning"> The Seven Deally Sinsr</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

