body {
    background-color: white;
    font-family: 'Cinzel', serif;
    margin-left: 0;
    margin-right: 0;
    color: black;
}
.thclass {
 
    color:darkblue;
    text-align:left;
}
.left {
 
    color: darkblue;
    text-align: center;
}
.carousel-inner, .carousel-item > .item > img {
    height: 100px;
}

li
{
    color:gold;
}